<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Etienne Moureton - Creative Developer</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<meta name="robots" content="follow"/>
		<meta name="description" content="Creative Developer basé à Bordeaux, France. Spécialisé React/Vue, je suis passionné par l'UI et l'optimisation de mon code." />
    <meta name="image" content="/assets/img/portrait.jpeg" />
    <meta name="og:description" content="Creative Developer basé à Bordeaux, France. Spécialisé React/Vue, je suis passionné par l'UI et l'optimisation de mon code." />
    <meta name="og:image" content="/assets/img/portrait.jpeg"
  />
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
